body{
	color:rgb(0,0,0);
}
.organisation{
	color:rgb(89,72,87);
}
.workforce{
	color:rgb(10,129,156);
}
.user{
	color:rgb(91,192,222);
}
.child{
	color:rgb(233,102,44);
}
.guardian{
	color:rgb(242,153,75);
}
.registry-section-heading{
	color:rgb(75,93,103)
}
.progress-bar.organanisation{
	background-color:rgb(89,72,87);
}
.progress-bar.child{
	background-color:rgb(233,102,44);
}
dl {
	margin-top: 0;
	margin-bottom: 8px;
}
#login {
    min-height:100%;
    padding-top: 50px;
    text-align: center;
    background: white;
}

#searchorg {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

#dashboard {
    max-height: 2000%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}
.banner-img{
	position: absolute;
	top:-24px;
	left:60px;
}
.header-text{
	color:white;
	font-family: Oswald Regular;
	font-size: 18px;
	line-height:2;
}
.header-homepage{
	color:white;
	font-family: Oswald Regular;
	font-size: 25px;
	line-height:2;
}

.custom > dt{
	width:250px;
} 
.custom > dd{
	margin-left:260px;
}
.ui-autocomplete {
            max-height: 150px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar 
            padding-right: 20px;*/
 }
 .info-section > i.fa{
		border: 2px solid #6C9;
		color: #6C9;
		border-radius: 50%;
		padding: 35px;
		width:126px;
}
.info-section > h3{
	color:#005a3f;
}