{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Basic service/referral form {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_workforce %}{% endblock %}

{% block body_page_title %} Basic service/referral form{% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Basic service/referral form</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Basic service/referral form</li>
{% endblock breadcrum %}

{% block content %}
	{% crispy form %}
{% endblock %}

{% block scripts %}

<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
<script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
<script src="{% static "ovc_main/js/forms_general.js" %}"></script>

<script src="{% static "ovc_main/js/basic_service_referral.js" %}"></script>
<script src="{% static "ovc_main/js/general/combobox-autocomplete-widget.js" %}"></script>
<script>

	workforce_orgs = {{workforce_orgs|safe}};

</script>
{% endblock %}