{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Forms Home {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_beneficiary %}{% endblock %}
{% block navbar_class_forms %}active{% endblock %}

{% block body_page_title %} Data capture forms home{% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Forms - Forms Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Forms - Forms Home</li>
{% endblock breadcrum %}
{% block content %}
	<div class="form-horizontal">
		
		<div class="multiField">
			
					
			
			
			<div class="panel panel-grey" >
				<div class="panel-heading" >
				       Enter new form
				</div>
				
				<div class="panel-body pan" ><p/> 
					
					<div id="div_id_ward" class="form-group">
						<label for="id_ward" class="control-label col-md-3">
								Form type:</label>
						<div class="col-md-6">
							<p><select data-style="btn-white" data-size="8" class="selectpicker form-control" name='form_type' id='id_form_type'>
							{{ form_types|safe|escape }}
							</select></p>
					    </div>
					</div>
					
					<div id="div_id_community" class="form-group">
						<label for="id_community" class="control-label col-md-3 subject-text">
								Subject:</label>
						<div class="col-md-6">
					      <p><strong><input class="autocompletesubject textinput textInput form-control" id="id_subject" name="subject" type="text" /></strong></p>
					    </div>
					</div>
					
					<div class="md-col-6" style="margin-left:41%">
						<a type="button" id="id_add" href="#" class="btn btn-success"><i class="fa fa-plus-square"></i> Add </a>
						<p/>
					</div>
					<input class="textinput textInput form-control" style="visibility:hidden" id="id_forms_pk_hidden" name="forms_pk_hidden" type="text" />
				</div>
			</div>
			
			
			
			<div class="panel panel-grey" >
				<div class="panel-heading" >
				       View/edit existing form
				</div>
				<div class="panel-body pan" ><p/>
				<p>
				<form class="form-inline" role="form">
					
					<div class="form-group" style="margin-right:5px;margin-left:5px;">
							<select data-style="btn-white" data-size="10" class="selectpicker form-control" name='form_type_search' id='id_form_type_search' placeholder="Search form type...">
								{{ form_types|safe|escape }}
							</select>
					</div>
					
					<div class="form-group" style="margin-right:5px;margin-left:5px;">
					      
						  <input class="datepicker dateinput form-control" id="id_search_date" name="search_date" type="text" placeholder="Search date...">
					</div>
					
				  	<div class="form-group" style="margin-right:5px;margin-left:5px;">
				    	<div class="input-group">
				      			<input id="searchformtxt" type="text" class="form-control input-large search-query" placeholder="Search subject or location..."/><span class="input-group-btn"><a type="button" id="searchbtnform" class="btn btn-primary searchbtn">Search</a></span>
				    	</div>
				    </div>
				    
				 </form>
				 
				 </p>
				 
				 <div class="row mbm">
                    <div class="col-lg-6">
                        <div class="pagination-panel">Page
                            &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled="disabled"/>&nbsp;
                            {% if pageinfo.pagescount == 1%}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-nextben disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% else %}
                            <a href="#" class="btn btn-sm btn-default btn-prev gw-nextben"><i class="fa fa-angle-right"></i></a>&nbsp;
                            {% endif %}
                            {% if 'auth.ben lookup' in perms %}
                            of&nbsp;<label class="countpages"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                            &nbsp;| View <select class="form-control input-xsmall input-sm input-inline gw-pageSizeben">
                                <option value="25" selected="selected">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="-1">All</option>
                            </select>&nbsp;
                           <span class="searching" style="display:none"><i class="fa fa-spinner fa-spin"></i>...</span> |&nbsp; <label class="totalrecords"> {{pageinfo.total_records}} form(s) found</label>
                           {% endif %}
                        </div>
                    </div>
                 	<div>
                 		<!--where the success message used to be, in case we want to revert to it.-->
    				</div>
                                    
                </div>
					
				<table id="formSearchTable"  class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Subject</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>End Date</th>
                        <th>Date last updated</th>
                        <th>Person last updated</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody class="tbodyresults">
                        {% if not forms %}
                       		<tr><td colspan="8">no results</td></tr>
                       	{% else %}
                       	{% include "ovc_main/Forms/forms_search_table_list.html" %}
                       	{% endif %}
                    </tbody>
                </table>
                </div>               
			</div>
</div>

	<!-- Button trigger modal -->
    <button id="id_delete_confirm_dialog_box" type="button" style="visibility:hidden" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete Form</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this form?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel delete</button>
            <a class="btn btn-success" href="delete" id="id_confirm_delete">Proceed to delete</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block scripts %}
	<script src="{% static "ovc_main/js/forms_home.js" %}"></script>
<script>
$(document).ready(function () {
	
	$("#id_search_date").datepicker({
	        maxDate: 0,
	        dateFormat: 'd-MM-yy',
	        yearRange: "1904:2030",
	        changeMonth: true,
	        changeYear: true
	});
	  
	{% if pageinfo.success %}
    	toastr.success('{{pageinfo.success}}', 'Forms',{ timeOut: 0 }); 
    {% endif %}
    
    
});
</script>
{% endblock scripts %}