{% for form in forms%}
	<tr class="table_row_clickable" href="#" style="cursor:pointer">
   		<td>{{ form.type }}</td>
   		<td>{{ form.subject }}</td>
   		<td>{{ form.location }}</td>
   		<td>{{ form.date }}</td>
   		<td>{{ form.end_date }}</td>
   		<td>{{ form.date_last_updated }}</td>
   		<td>{{ form.person_last_updated }}</td>
   		<td>
   		<span>
			{% if form.user_can_view and form.type_id != "FT3d" and form.type_id != "FT2c" and form.type_id != "FT3f" and form.type_id != "FT1e" and form.type_id != "FT2d" and form.type_id != "FT1f" %}
   				<a href="/forms/add_form/?subject={{form.subject_id}}&form_type=FT3e&onloadformid={{form.form_id}}" class="btn btn-primary btn-xs viewrow">
		       		{% if form.type_id != "FT3e" %}<i class="fa fa-edit"></i>&nbsp;View{%else%}<i class="fa fa-folder-open"></i>&nbsp;Open{%endif%}
				</a>
			{% endif %}
			{% if form.user_can_edit %}
				{% if form.type_id != "FT3e" %}
					<a href="/forms/add_form?form_id={{form.form_id}}" class="btn btn-primary btn-xs editrow">
			       		<i class="fa fa-edit"></i>&nbsp;Edit
					</a>
					<button value="{{form.form_id}}" class="btn btn-primary btn-xs deleterow">
			       		<i class="fa fa-edit"></i>&nbsp;Delete
					</button>
				{% endif %}
			{% endif %}
   		</span>
		</td>
	</tr>
{% endfor %}