{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Residential institution form {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_workforce %}{% endblock %}

{% block body_page_title %} Residential institution form {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#"> Residential institution form </a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li> Residential institution form </li>
{% endblock breadcrum %}

{% block content %}
{% crispy form %}
{% endblock %}

{% block scripts %}
<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
<script src="{% static "ovc_main/js/forms_general.js" %}"></script>
<script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
<script src="{% static "ovc_main/js/residential_institution.js" %}"></script>
<script>

$('.datepicker').datepicker(
        {
            //minDate: "-18Y",
            dateFormat: 'd-MM-yy',
            yearRange: "1904:2050",
            maxDate: 0,
            changeMonth: true,
            changeYear: true
        });

//$( "#id_date_of_form" ).datepicker( "option", "dateFormat", 'd-MM-yy' );

function activateTab(tab) {
    $('.nav-tabs a[href="#' + tab + '"]').tab('show');
}

function addChildStatus() {
    var adverse_conditions = [];
    $('#id_new_adverse_condition :selected').each(function (i, selected) {
        adverse_conditions[i] = $(selected).val();
    });
    var new_adverse_conditions = '';
    var count = 0;
    while (count < adverse_conditions.length) {
        new_adverse_conditions = new_adverse_conditions + adverse_conditions[count] + ' ';
        count++;
    }
    var child_id_int = $('#id_child_id').val();
    var beneficiary_id = $("#id_beneficiary_id").val();
    var name = $("#id_child_name").val();
    var residential_status = $("#id_current_residential_status option:selected").text();
    var family_status = $("#id_family_status option:selected").text();
    var has_court_committal = $("#id_has_court_committal_order option:selected").text();
    var details = residential_status + ' - '
            + family_status + ' - '
            + has_court_committal;
    var selected_residential_status = $("#id_current_residential_status option:selected").val();
    var selected_family_status = $("#id_family_status option:selected").val();
    var selected_has_comittal = $("#id_has_court_committal_order option:selected").val();

    var date_admitted_str = $("#id_date_first_admitted").val();
    var date_left_str = $("#id_date_left").val();

    var date_first_admitted = stringToDate($("#id_date_first_admitted").val(), 'd-MM-yy', "-");
    var date_left = stringToDate(date_left_str, 'd-MM-yy', "-");
    var child_date_of_birth = stringToDate($("#id_child_date_of_birth").val(), 'd-MM-yy', "-");
    var child_date_of_death = stringToDate($("#id_child_date_of_death").val(), 'd-MM-yy', "-");
    var form_date = stringToDate($("#id_date_of_form").val(), 'd-MM-yy', "-");
	//alert(child_date_of_death);
	//alert(date_first_admitted);
    var proceed = runBusinessRules(date_first_admitted, date_left, child_date_of_birth,
            child_date_of_death, form_date);
    if (!proceed) {
        return;
    }

    populateChildRow(child_id_int, beneficiary_id, name, new_adverse_conditions,
            details, selected_residential_status, selected_family_status, selected_has_comittal,
            date_admitted_str, date_left_str);

    updateStatusData();
    clearForm();
}

//Called on load or refresh
populateChildTable();
function populateChildTable() {
    var childdata = $("#id_child_status_data").val();
    if (childdata === '') {
        return;
    }
    var child_data_items = JSON.parse(childdata);
    $.each(child_data_items, function (index) {
        var child_id_int = child_data_items[index].child_id_int;
        var beneficiary_id = child_data_items[index].beneficiary_id;
        var child_name = child_data_items[index].child_name;
        var adverse_conditions = child_data_items[index].adverse_conditions;
        var details = child_data_items[index].details;
        var current_residential_status = child_data_items[index].current_residential_status;
        var family_status = child_data_items[index].family_status;
        var has_court_committal_order = child_data_items[index].has_court_committal_order;
        var date_first_admitted = child_data_items[index].date_first_admitted;
        var date_left = child_data_items[index].date_left;

        populateChildRow(child_id_int, beneficiary_id, child_name, adverse_conditions,
                details, current_residential_status, family_status, has_court_committal_order,
                date_first_admitted, date_left);
    });
}

function populateChildRow(child_id_int, beneficiary_id, child_name, new_adverse_conditions,
        details, selected_residential_status, selected_family_status, selected_has_comittal,
        date_admitted_str, date_left_str) {

    $("#childStatusTable").find('tbody')
            .append($('<tr>')
                    .append($('<td id="child_id_int" class="childdata">')
                            .append($('<label>')
                                    .text(child_id_int)
                                    )
                            .css('display', 'None')
                            .css('width', '1%')
                            )
                    .append($('<td id="beneficiary_id" class="childdata">')
                            .append($('<label>')
                                    .text(beneficiary_id)
                                    )
                            )
                    .append($('<td id="child_name" class="not_saving">')
                            .append($('<label>')
                                    .text(child_name)
                                    )
                            )
                    .append($('<td id="adverse_conditions" class="childdata">')
                            .append($('<label>')
                                    .text(new_adverse_conditions)
                                    )
                            )
                    .append($('<td id="details" class="not_saving">')
                            .append($('<label>')
                                    .text(details)
                                    )
                            )
                    .append($('<td id="current_residential_status" class="childdata">')
                            .append($('<label>')
                                    .text(selected_residential_status)
                                    )
                            .css('display', 'None')
                            .css('width', '1%')
                            )
                    .append($('<td id="family_status" class="childdata">')
                            .append($('<label>')
                                    .text(selected_family_status)
                                    )
                            .css('display', 'None')
                            .css('width', '1%')
                            )
                    .append($('<td id="has_court_committal_order" class="childdata">')
                            .append($('<label>')
                                    .text(selected_has_comittal)
                                    )
                            .css('display', 'None')
                            .css('width', '1%')
                            )
                    .append($('<td id="date_first_admitted" class="childdata">')
                            .append($('<label>')
                                    .text(date_admitted_str)
                                    )
                            )
                    .append($('<td id="date_left" class="childdata">')
                            .append($('<label>')
                                    .text(date_left_str)
                                    )
                            )
                    .append($("<td class='not_saving'> <button onclick='removeRow()' class='removebutton'><i class='fa fa-trash fa-2'></i></button></td>"))
                    );
}

function checkChildDuplicates() {
    var toReturn = true;
    var ben_id = $('#id_beneficiary_id').val();
    $("#childStatusTable tr").each(function (i, v) {
        $(this).children('td').each(function (ii, vv) {
            if ($(this).attr("id") == 'beneficiary_id') {
                if ($(this).text() == ben_id) {
                    toReturn = false;
                }
            }
        });
    });
    return toReturn;
}

function updateStatusData() {
    var data = getTableDataAsJsonString('childStatusTable');
    $("#id_child_status_data").val(data);
}

function updateWorkforceData() {
    var data = updateRolesAndEmploymentStatus();
    $("#id_workforce_data").val(data);
}

function updateRolesAndEmploymentStatus() {
    var data = {};
    $("#workforceStatusTable tr").each(function (i, v) {
        if (i === 0) {
            return;
        }
        data[i] = {};
        $(this).children('td').each(function (ii, vv) {
            if (this.id === 'workforce_role'){
                data[i][this.id] = $(this).children('#roles_select').val();
            }
            else if (this.id === 'workforce_employment_status') {
                data[i][this.id] = $(this).children('#employment_status_select').val();
            }
            else {
                data[i][this.id] = $(this).text();
            }
        });
    });
    return JSON.stringify(data);
}


function getTableDataAsJsonString(table_name, startindex) {
    var data = {};
    var sindex = startindex ? startindex : 1;
    $("#" + table_name + " tr").each(function (i, v) {
        if (i < sindex) {
            return;
        }
        data[i] = {};
        $(this).children('td').each(function (ii, vv) {
            data[i][this.id] = $(this).text();
        });
    });
    return JSON.stringify(data);
}

function removeRow() {
    $(document).on('click', 'button.removebutton', function () {
        $(this).closest('tr').remove();
        updateStatusData();
        return false;
    });
}

function clearForm() {
    $('#id_child_autocomplete').val('');
    $('#id_current_residential_status').val('');
    $('#id_family_status').val('');
    $('#id_has_court_committal_order').val('');
    $('#id_date_first_admitted').val('');
    $('#id_date_left').val('');
    $('#id_new_adverse_condition').multiSelect('deselect_all');
    $('#id_child_id').val('');
    $('#id_beneficiary_id').val('');
    $('#id_child_name').val('');
    $('#id_child_date_of_birth').val('');
    $('#id_child_date_of_death').val('');
    $('#id_recent_date_admitted').val('');
    $('#id_recent_date_left').val('');
}

function runBusinessRules(date_first_admitted, date_left, child_date_of_birth, child_date_of_death, form_date) {
    var toReturn = true;
    $("#valid_data").text("");
    $("#valid_data").css('display', 'None');

    if (form_date === null) {
        $("#valid_data").text('Please enter the Date of form');
        $("#valid_data").show();
        return false;
    }

	//check for valid dates
	if (date_first_admitted === null && $("#id_date_first_admitted").val() !== '') {
		$("#valid_data").text('Please enter a valid Date first admitted');		
        $("#valid_data").show();
        return false;
    }

	if (date_left === null && $("#id_date_left").val() !== '') {
		$("#valid_data").text('Please enter a valid Date left');		
        $("#valid_data").show();
        return false;
    }

    //If no child is selected or no residential status is selected, return
    if ($('#id_child_id').val() == "") {
        $("#valid_data").text('Please select a child');
        $("#valid_data").show();
        return false;
    }

    if ($('#id_current_residential_status').val() == "") {
        $("#valid_data").text('Please select the current residential status');
        $("#valid_data").show();
        return false;
    }

    if (!checkChildDuplicates()) {
        $("#valid_data").text('The information for this child has already been entered.');
        $("#valid_data").show();
        return false;
    }

    //  Date first admitted cannot be after the form date. Cannot be before the child's date of birth, 
    //  or after the child's date of death if any. Cannot be after the date left.
    if (date_first_admitted != null && form_date != null && date_first_admitted > form_date) {
        $("#valid_data").text('The \'Date first admitted\' cannot be after the date of this Form');
        $("#valid_data").show();
        return false;
    }
    if (date_first_admitted != null && child_date_of_birth != null && date_first_admitted < child_date_of_birth) {
        $("#valid_data").text('The \'Date first admitted\' cannot be before the child\'s date of birth');
        $("#valid_data").show();
        return false;
    }
    if (date_first_admitted != null && child_date_of_death != null && date_first_admitted > child_date_of_death) {
        $("#valid_data").text('The \'Date first admitted\' cannot be after the child\'s recorded date of death');
        $("#valid_data").show();
        return false;
    }
    if (date_first_admitted != null && date_left != null && date_first_admitted > date_left) {
        $("#valid_data").text('The \'Date first admitted\' cannot be after the \'Date left\'');
        $("#valid_data").show();
        return false;
    }
    //  Date left cannot be after the form date.  Cannot be before the child's date of birth, 
    //  or after the child's date of death if any.  Cannot be before the date admitted. 
    if (date_left != null && form_date != null && date_left > form_date) {
        $("#valid_data").text('The \'Date left\' cannot be after the date of this Form');
        $("#valid_data").show();
        return false;
    }
    if (date_left != null && child_date_of_birth != null && date_left < child_date_of_birth) {
        $("#valid_data").text('The \'Date left\' cannot be before the child\'s date of birth');
        $("#valid_data").show();
        return false;
    }
    if (date_left != null && child_date_of_death != null && date_left > child_date_of_death) {
        $("#valid_data").text('The \'Date left\' cannot be after the child\'s recorded date of death');
        $("#valid_data").show();
        return false;
    }
    if (date_left != null && date_left != null && date_left < date_first_admitted) {
        $("#valid_data").text('The \'Date left\' cannot be after the \'Date first admitted\'');
        $("#valid_data").show();
        return false;
    }
    return toReturn;
}

function stringToDate(_date, _format, _delimiter)
{
    var months = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")

    var formatLowerCase = _format.toLowerCase(); //'d-MM-yy'
    var formatItems = formatLowerCase.split(_delimiter);//[d,MM,yy]
    var dateItems = _date.split(_delimiter);//[02,"January", 2015]
    var dayIndex = formatItems.indexOf("d");
    var monthIndex = formatItems.indexOf("mm");
    var yearIndex = formatItems.indexOf("yy");
	//var month=parseInt(dateItems[monthIndex]);
    var month = months.indexOf(dateItems[monthIndex]);//parseInt(dateItems[monthIndex]);
    month -= 1;
    var formatedDate = new Date(dateItems[yearIndex], month, dateItems[dayIndex]);
    if (formatedDate == 'Invalid Date') {
        formatedDate = null;
    }
    return formatedDate;
}


function updateFinale(e) {
    updateStatusData();
    updateWorkforceData();
}

//Set ward id to the ward in the ward label
$('#id_ward_id').val($('#id_ward').text())

</script>
{% endblock %}
