<div class='col-md-12'>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <dl class="dl-horizontal">
                <dt style="width:auto">ZOMIS ID:&nbsp;&nbsp;</dt>
                <dd>{{ subject.org_id }}</dd>
            </dl>
        </div>
        <div class="col-md-6 col-md-offset-4">
            <dl class="dl-horizontal">
                <dt style="width:auto">Name:&nbsp;&nbsp;</dt>
                <dd>{{ subject.name }}</dd>
            </dl>
        </div>
        {% for locationprovided in subject.locations_for_display %}
            {% for individuallocation in locationprovided %}
                {% if forloop.counter0 == 4 %}
                <div class="col-md-6 col-md-offset-4">
                    <dl class="dl-horizontal">
                        <dt style="width:auto">Community:&nbsp;&nbsp;</dt>                        
                        <dd>{{ individuallocation.geoname }}</dd>                        
                    </dl>
                </div>
                {% endif %}
                {% if forloop.counter0 == 3 %}
                <div class="col-md-6 col-md-offset-4">
                    <dl class="dl-horizontal">
                        <dt style="width:auto">Ward:&nbsp;&nbsp;</dt>                        
                        <dd>{{ individuallocation.geoname }}</dd> 
                        <dd id="id_ward" style="display:None">{{ individuallocation.geoid }}</dd> 
                    </dl>
                </div>
                {% endif %}
                {% if forloop.counter0 == 1 %}
                <div class="col-md-6 col-md-offset-4">
                    <dl class="dl-horizontal">
                        <dt style="width:auto">District:&nbsp;&nbsp;</dt>                        
                        <dd>{{ individuallocation.geoname }}</dd>                        
                    </dl>
                </div>
                {% endif %}
            {% endfor %} 
        {% endfor %} 
    </div>
</div>



