{% for ben in bens_list%}
	{% if 'auth.ben vw' in perms or 'auth.ben view by org' in perms or 'auth.ben view in geo' in perms %}
            {% if not is_capture_app %}
                <tr class="table_row_clickable" href="/beneficiary/view_ben?beneficiary_id={{ben.pk_id}}" style="cursor:pointer">
            {% else %}
                <tr>
            {% endif %}
	   		<td>{{ ben.beneficiary_id }}</td>
	   		<td>{{ ben.name }}</td>
	   		<td>{{ ben.date_of_birth }}</td>
	   		<td>{{ ben.sex }}</td>
	   		<td>{{ ben.person_type }}</td>
	   		<td>{{ ben.community }}</td>
	   		<td>{{ ben.ward }}</td>
	   		<td>{{ ben.district }}</td>
            {% if 'auth.update ben special' in perms or 'auth.update ben contact' in perms or 'auth.update ben general' in perms or 'auth.update ben contact by org' in perms or 'auth.update ben general by org' in perms %}
                {% if not is_capture_app %}
                    <td>
		        <span>
		            <a href="/beneficiary/update_ben?beneficiary_id={{ben.pk_id}}" class="btn btn-primary btn-xs">
		                <i class="fa fa-edit"></i>&nbsp;Update
		            </a>
		        </span>
		    </td>
                 {% endif %}
            {% else %}
		    <td>
		        <span>
		            
		        </span>
		    </td>
            {% endif %}
	   	</tr>
	{% else %}
		<tr class="None" style="None">
	   		<td>{{ ben.beneficiary_id }}</td>
	   		<td>{{ ben.name }}</td>
	   		<td>{{ ben.date_of_birth }}</td>
	   		<td>{{ ben.sex }}</td>
	   		<td>{{ ben.person_type }}</td>
	   		<td>{{ ben.community }}</td>
	   		<td>{{ ben.ward }}</td>
	   		<td>{{ ben.district }}</td>
	   	</tr>
	{% endif %}
   	{% endfor %}