{% extends "main_base.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Capture administration {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_administration %}active{% endblock %}
{% block navbar_class_capture_admin %}active{% endblock %}

{% block body_page_title %} {{ capture_name }} {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Download / upload tool</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>Capture site</li>
{% endblock breadcrum %}
{% block content %}
<div class="form-horizontal">
    <div class="note note-info">
        <h4><strong>Download / upload tool</strong></h4>
    </div></p>

<div class="multiField">
    <div class="panel panel-blue" >
        <div class="panel-heading" >
            Download
        </div>
        <div class="panel-body pan"><p/> 
            <form class="form-inline" role="form">
                <div>
                    <div>

                        <span>
                            &nbsp;&nbsp;<a type="button" id="downloadbtn" class="btn btn-success btn-square"><i class="fa fa-download"></i> Download</a>
                        </span>
                        <span class="downloading" style="display:none"> 
                            <label class="download_message" id="id_download_message"> </label><i class="fa fa-spinner fa-spin downloadspinner"></i>
                        </span>
                        <span>
                            &nbsp;&nbsp;<a type="button" id="id_btn_stop_download" class="btn btn-success btn-square canceldownloadupload disabled"><i class="fa fa-times"></i> Stop </a>
                        </span>
                    </div>
                </div>
                <label for="id_download_sections" class="control-label col-md-3" style="display: none">Sections: </label>
                <div class="form-group col-md-4" style="display: none">
                    <select data-style="btn-white" data-size="8" class="selectpicker form-control" name='download_sections' id='id_download_sections' disabled>
                        {% for item_id,title in download_sections %}
                        <option value={{item_id}}>{{title|truncatechars:60}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <p/>
            <div>
                <span style="margin-left:20px">
                    <strong>
                        Recent download history
                    </strong>
                </span>
                <p/>
                <table id="downloadstbl" class="table table-hover table-striped table-bordered table-advanced tablesorter download_history" id="is_download_history" style="margin-left:20px;width:97%">
                    <thead>
                        <tr>
                            <th>Section</th>
                            <th>Started</th>
                            <th>Ended</th>
                            <th>Number of records</th>
                            <th>Success</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyresults">
                        {% for download in downloads %}
                        <tr>
                            <td> {{ download.section }} </td>
                            <td> {{ download.started }} </td>
                            <td> {{ download.ended }} </td>
                            <td> {{ download.num_of_recs }} </td>
                            <td> {{ download.success }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row mbm" style="margin-left:20px">
                <div class="col-lg-6">
                    <div class="pagination-panel" >Page 
                        &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev gw-prev disabled"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="{{pageinfo.pagenumber}}" class="pagination-panel-input form-control input-mini input-inline input-sm text-center gw-page" disabled="disabled"/>&nbsp;
                        {% if pageinfo.pagescount == 1%}
                        <a href="#" class="btn btn-sm btn-default btn-prev gw-next disabled"><i class="fa fa-angle-right"></i></a>&nbsp;
                        {% else %}
                        <a href="#" class="btn btn-sm btn-default btn-prev gw-next"><i class="fa fa-angle-right"></i></a>&nbsp;
                        {% endif %}
                        of&nbsp;<label class="countpages" id="pagescount"> {{pageinfo.pagescount}} </label>&nbsp; page(s)
                    </div>
                </div>
                <div>
                    <span style="color:green"> <strong>{{pageinfo.success}}</strong> </span>
                </div>
            </div>


        </div>
    </div>
    <div>
        <input id="task_processing_id" class="task_processing" type="hidden" value="{{ task_id }}">
        <p>
    </div>
    <div class="panel panel-blue" >
        <div class="panel-heading" >
            Upload
        </div>

        <div class="panel-body pan"><p/> 
            <div id="div_id_recent_upload" class="form-group">
                <label for="id_recent_upload" class="control-label col-md-3">Most recent upload: </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong><label id="recent_upload_date"> {{ recent_upload_date }} </label> </strong></p>
                </div>
            </div>
            <div id="div_id_recent_upload" class="form-group">
                <label for="id_recent_upload" class="control-label col-md-3">Total number of forms ever uploaded from this capture site: </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong><label id="form_count"> {{ total_forms }} </label> </strong></p>
                </div>
            </div>
            <div>
                <span style="margin-left:20px">
                    <strong>
                        Upload queue
                    </strong>
                </span>
                <p/>
                <table id="formtbl" class="table table-hover table-striped table-bordered table-advanced tablesorter download_history" id="is_download_history" style="margin-left:20px;width:50%">
                    <thead>
                        <tr>
                            <th>Form type</th>
                            <th>Number of forms in queue</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not has_uploads %}
                        <tr>
                            <td colspan="2"> There are currently no forms in the upload queue </td>
                        </tr>
                        {% else %}
                        {% for upload in uploads %}
                        <tr>
                            <td> {{ upload.formtype }} </td>
                            <td> {{ upload.count }} </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>
            <div>

                <span style="margin-left: 20px">
                    <a type="button" id="uploadformbtn" class="btn btn-success btn-square"><i class="fa fa-upload"></i> Upload</a>
                    <span class="uploading" style="display:none">
                        <label class="upload_message" id="id_upload_message"> </label><i class="fa fa-spinner fa-spin uploadspinner"></i>
                    </span>
                    <span>
                        &nbsp;&nbsp;<a type="button" id="id_btn_stop_upload" class="btn btn-success btn-square canceldownloadupload disabled"><i class="fa fa-times"></i> Stop </a>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>
                <p/>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static "ovc_main/js/capture_home.js" %}"></script>
{% endblock scripts %}