

		<ul class="nav nav-tabs" role="tablist" id="homedashboard">
		  <li role="presentation" class="active"><a id="registration_tab" href="#registration" aria-controls="registration" role="tab" data-toggle="tab"><strong>Registrations</strong></a></li>
		  <li role="presentation"><a id="children_tab" href="#children" aria-controls="children" role="tab" data-toggle="tab"><strong>Children</strong></a></li>
		</ul>
		
		<div class="tab-content container-fluid"> <!--begin tab content -->
			
		<!-- registration tab content -->
		  <div role="tabpanel" class="tab-pane active" id="registration">
		  	
			  	<div class='panel panel-grey' id='reg_panel_summary'> <!-- registrations summary -->
			  		<div class='panel panel-heading'>
			  			Registrations
			  		</div>
			  		
			  		<div class='panel panel-body'>
			  			<dl class="col-md-2" style="text-align:center">
						  <dt><label class="organisation"><i class="fa fa-university fa-2x"></i></label></dt>
						  <dd><label id="org_count_label"><span><i class="fa-li fa fa-spinner fa-spin"></i></span></label></dd>
						  <dd><label>Organisational units</label></dd>
					 	</dl>
					 	<dl class="col-md-2" style="text-align:center">
						  <dt><label class="workforce"><i class="fa fa-users fa-2x"></i></label></dt>
						  <dd><label id="workforce_count_label"><span><i class="fa-li fa fa-spinner fa-spin"></i></span></label></dd>
						  <dd><label>Workforce members</label></dd>
					 	</dl>
					 	<dl class="col-md-2" style="text-align:center">
						  <dt><label class="user"><i class="fa fa-user fa-2x"></i></label></dt>
						  <dd><label id="user_count_label"><span><i class="fa-li fa fa-spinner fa-spin"></i></span></label></dd>
						  <dd><label>Other users</label></dd>
					 	</dl>
					 	<dl class="col-md-2" style="text-align:center">
						  <dt><label class="guardian"><i class="fa fa-heart fa-2x"></i></label></dt>
						  <dd><label id="guardian_count_label"><span><i class="fa-li fa fa-spinner fa-spin"></i></span></label></dd>
						  <dd><label>Guardians</label></dd>
					 	</dl>
					 	<dl class="col-md-2" style="text-align:center">
						  <dt><label class="child"><i class="fa fa-child fa-2x"></i></label></dt>
						  <dd><label id="children_count_label"><span><i class="fa-li fa fa-spinner fa-spin"></i></span></label></dd>
						  <dd><label>Children</label></dd>
					 	</dl>
							
			  		</div>
			  	</div><!-- end registrations summary -->
		 
		  	
		  	
		  	<div class="container col-md-6">
		  	
		  		<div class='panel panel-grey' id='reg_panel_last_3months'> <!-- registrations summary last 3 months -->
			  		<div class='panel panel-heading'>
			  			New and updated registrations - last 3 months
			  		</div>
			  		
			  		<div class='panel panel-body'>
			  			<table id="registries_new_updated" class="table table-condensed">
			  				<thead>
			  				<tr>
			  					<th></th>
			  					<th colspan="2">Organisational units</th>
			  					<th colspan="2">Workforce/users</th>
			  					<th colspan="2">Beneficiaries</th>
			  				</tr>
			  				<tr>
			  						<th>Months</th>
			  						<th>New</th>
			  						<th>Updated</th>
			  						<th>New</th>
			  						<th>Updated</th>
			  						<th>New</th>
			  						<th>Updated</th>
			  					</tr>
			  				</thead>
			  				<tbody>
			  				</tbody>
			  			</table>
			  		</div>
			  	</div><!-- end registrations summary last 3 months -->
		  	
			  	<div class='panel panel-grey' id='reg_panel_org_by_type'><!-- registrations workforce by type --> 
			  		<div class='panel panel-heading'>
			  			Workforce/users by type
			  		</div>
			  		
			  		<div class='panel panel-body'>
			  		<div>
			  			<canvas id="workforce_user_radar" width="400" height="400" style="height:400px !important; width:400px !important; padding:0px !important; display:block; margin-left:auto; margin-right:auto; border:0px !important">
			  		</div>
			  		</div>
			  	</div><!-- end registrations workforce by type -->
			</div>
		  	
		  	<div class="container col-md-6">
			  	<div class='panel panel-grey' id='reg_panel_workforce_by_type'> <!-- registrations org unit by type -->
			  		<div class='panel panel-heading'>
			  			Organisational units by type
			  		</div>
			  		
			  		<div class='panel panel-body'>
			  			<table id="orgs_progress_bar" class="table table-condensed tablesorter">
			  				<thead>
				  			<th class="col-md-7">Organisational unit type</th>
				  			<th class="col-md-2 header">Number</th>
				  			<th class="col-md-2 header">Percentage</th>
				  			</thead>
				  			<tbody>
				  				
				  			</tbody>
			  			</table>
			  			
			  			
			  		</div>
			  	</div><!-- end registrations org unit by type -->
			 </div>
		  	
		  </div><!-- end registration tab content -->
		  
		  <!-- children tab content -->
		  <div role="tabpanel" class="tab-pane" id="children">
		  	<div class="container col-md-12"> <!-- container for registered children -->
			  	<div class='panel panel-grey' id='reg_children'> <!-- registered Children -->
			  		<div class='panel panel-heading'>
			  			Registered Children
			  		</div>
			  		
			  		<div class='panel panel-body'>
						<div id="register_children_chart" style="width:100%; height:400px;"></div>
			  		</div>
			  	</div><!-- end registered children -->
		  	</div> <!-- end container for registered children -->
		  	
		  	
		  	<div class="container col-md-6""><!-- container for num of children by province -->
		  	
		  		<div class='panel panel-grey' id='num_children_by_province'> <!-- number of children by province -->
			  		<div class='panel panel-heading'>
			  			Number of children registered by province
			  		</div>
			  		
			  		<div class='panel panel-body'>
			  			<div id="children_by_province" style="width:100%; height:400px;"></div>
			  		</div>
			  	</div><!-- end number of children by province -->
			</div><!-- end container for num of children by province -->
		  	
		  	<div class="container col-md-6"><!--container for adverse conditions -->
			  	<div class='panel panel-grey' id='top_ten_adverse_conditions'> <!-- top 10 adverse conditions -->
			  		
			  		<div class='panel panel-heading'>
			  			Top 10 adverse conditions
			  		</div>
			  		
			  		<div class='panel panel-body'><!--progresbar -body -->
			  			<table id="top_conds_progress_bar" class="table table-condensed tablesorter">
			  				<thead>
				  			<th class="col-md-8">Adverse condition</th>
				  			<th class="col-md-2 header">Number</th>
				  			<th class="col-md-2 header">Percentage</th>
				  			</thead>
				  			<tbody>
				  				
				  			</tbody>
			  			</table>
			  		</div><!--end progresbar -body -->
			  		
			  	</div><!-- end top 10 adverse conditions -->
			 </div><!--end container for adverse conditions -->
		  </div> <!-- end children tab content -->
		
		</div><!--end tab content -->

