{% load static %}
<!DOCTYPE html>
<html lang="en">
<head><title>ZOMIS | Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/font-awesome/css/font-awesome.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/bootstrap/css/bootstrap.min.css" %}">
    <!--LOADING STYLESHEET FOR PAGE-->
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/intro.js/introjs.css" %}">
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/animate.css/animate.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-pace/pace.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/iCheck/skins/all.css" %}">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/css/themes/style1/yellow-green.css" %}" class="default-style">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/css/style-responsive.css" %}">
    
    <link type="text/css" rel="stylesheet" href="{% static "ovc_main/css/ovc_ims.css" %}">
    <style>
	.zomis-navbar-home {
	    background-color: #005a3f;
	}
	span.logo-text{
		margin-top:10px;
		line-height: 20px;
		color: #FFF;
		display: block;
		font-weight: bold;
		font-family: "Oswald",sans-serif;
		font-size: 30px;
		text-align: center;
	}
	#zomis-navbar-home > .nav > li > a{
		color: #FFF;
		font-weight: bold;
	}
	#zomis-navbar-home > .nav > li.active > a{
		background-color:#CCA32F;
	}
	.info-section > i.fa{
		border: 2px solid #6C9;
		color: #6C9;
		border-radius: 50%;
		padding: 35px;
		width:126px;
	}
	</style>
</head>

<body data-spy="scroll" data-target="#zomis-navbar-home" style="position:relative">
	<nav class="navbar navbar-default navbar-fixed-top zomis-navbar-home">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#zomis-navbar-home">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      
		      <span class="header-homepage">
		      	<img src="{% static "ovc_main/images/ZCoAZomis.png"%}" class="banner-img">
		      	Zambia Orphans and Vulnerable Children Management Information System
		      </span>
		    </div>
		    
		   <!-- Collect the nav links, forms, and other content for toggling -->
		   <div class="collapse navbar-collapse" id="zomis-navbar-home">
		     <ul class="nav navbar-nav navbar-right">
		     	 <li><a href="#login">Sign in <span class="sr-only">(current)</span></a></li>
	        	 <li><a href="#dashboard">Dashboard</a></li>
	        	 <li><a href="#searchorg">Search Orgnisations</a></li>
	        </ul>
	      </div>
	 </div>
	</nav>
	
	 <div id="login">
        <div class="container" id="sign-in-section"><!--sign in section -->
            <div class="row">
                <div class="page-form"">
					<form  action="/home/" class="col-md-12" style="background-color:#005a3f" method="post">
						{% csrf_token %}
						<div style="color:white"><span><h1>Sign in</h1></span></div>
						<div style="color:yellow">{%if message %}<i class="fa fa-warning"></i> {{message}} {%endif%}</span></div>
						<div class="form-group">
                			<div class="input-icon right">
                				<i class="fa fa-user"></i>
                				<input type="text" placeholder="Workforce ID or NRC Number" name="username" class="form-control">
                			</div>
            			</div>
			            <div class="form-group">
			                <div class="input-icon right">
			                	<i class="fa fa-key"></i>
			                	<input type="password" placeholder="Password" name="password" class="form-control">
			                </div>
			            </div>
			            <div class="form-group pull-right">
			                <button type="submit" class="btn btn-success">Log In
			                    &nbsp;<i class="fa fa-chevron-circle-right"></i></button>
			            </div>
			            <div class="clearfix"></div>
					</form>
                </div>
            </div>
        </div><!--end sign in section -->
        
        <div class="container" id="about-section" style="margin-top:30px">
        	<div class="row"><!--start section row -->
        		<div class="col-md-12"><p></p><p></p></div>
        		<div class="col-md-4 col-sm-4 col-xs-12 form-group">
                    <div class="info-section fadeInRight">
                        <i class="fa fa-info fa-4x"></i>
                        <h3>About ZOMIS</h3>
                        <p class="text-justify">Zambia Orphan and Vulnerable Children Management Information System (ZOMIS) is a 
                        system of the Ministry of Community Development Mother and Child Health (MCDMCH) to 
                        allow all organisations working with vulnerable children...<a href="#">show more</a></p>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="info-section fadeInRight">
                        <i class="fa fa-mobile fa-4x"></i>
                        <h3>Available interfaces</h3>
                        <p class="text-justify">There are three "interfaces" to this system.  The web interface is accessible over the 
                        internet and is easily accessible via an internet-enabled computer or device.  
                        The capture site application is a stand alone application which can be<a href="#">...show more</a></p>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="info-section fadeInRight">
                        <i class="fa fa-child fa-4x"></i>
                        <h3>Vulnerable child</h3>
                        <p class="text-justify">A vulnerable child is defined broadly within this system as an individual below the age
                         of 18 and has been, is in or is likely to be in an adverse condition(s) where he/she is likely
                          to suffer significant physical, emotional or mental stress that<a href="#">...show more</a></p>
                    </div>
                </div>
        	</div><!--end section row -->
        </div>
    </div>

    <!-- About Section -->
    <div id="dashboard">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Dashboard</h1>
                    {%include "ovc_main/dashboard.html"%}
                </div>
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <div id="searchorg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Organisational unit lookup</h1>
					{% include "ovc_main/general_ui/org_unit_search_page.html" %}
                </div>
            </div>
        </div>
    </div>
	
</body>
<script src="{% static "themeforest_uadmin/js/jquery-1.10.2.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/jquery-ui.js" %}"></script>
        <!--loading bootstrap js-->
        
        <script src="{% static "themeforest_uadmin/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/html5shiv.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/respond.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/slimScroll/jquery.slimscroll.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-cookie/jquery.cookie.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/iCheck/icheck.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/iCheck/custom.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/js/jquery.menu.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-highcharts/highcharts.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/jquery-pace/pace.min.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/holder/holder.js" %}"></script>
        <script src="{% static "themeforest_uadmin/vendors/responsive-tabs/responsive-tabs.js" %}"></script>
        <!--CORE JAVASCRIPT-->
        
        <!--LOADING SCRIPTS FOR PAGE-->
        <!--<script src="{% static "themeforest_uadmin/js/index.js" %}"></script-->
        <script src="{% static "themeforest_uadmin/vendors/bootstrap-select/bootstrap-select.min.js" %}"></script>
<script>
	$('body').scrollspy({ target: '#zomis-navbar-home' });
</script>
	<script src="{% static "themeforest_uadmin/vendors/chart.js/Chart.min.js" %}"></script>
	<script src="{% static "themeforest_uadmin/vendors/jquery-tablesorter/jquery.tablesorter.js" %}"></script>
	<script src="{% static "themeforest_uadmin/js/table-advanced.js" %}"></script>
	 <script src="{% static "ovc_main/js/organisation_search.js" %}"></script>
	<script src="{% static "ovc_main/js/dashboard_home.js" %}"></script>
<script>
	$(".zomis-navbar-home li a").click(function(event) {
        // check if window is small enough so dropdown is created
    $("#zomis-navbar-home").removeClass("in").addClass("collapse");
    });
    
     $('.testcheckbox').iCheck({
        checkboxClass: 'state icheckbox_minimal-green hover',
        radioClass: 'state icheckbox_minimal-green hover',
        increaseArea: '20%' // optional
    });
</script>

</html>

