{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | ZOMIS {% endblock %}
{% block navbar_class_home %}active{% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_workforce %}{% endblock %}

{% block pagebody%}

<div id="login">
	<div class="container" id="sign-in-section"><!--sign in section -->
	    <div class="row">
	        <div class="page-form"">
				<form  action="/home/" class="col-md-12" style="background-color:#005a3f" method="post">
					{% csrf_token %}
					<div style="color:white"><span><h1>Sign in</h1></span></div>
					<div style="color:yellow">{%if message %}<i class="fa fa-warning"></i> {{message}} {%endif%}</span></div>
					<div class="form-group">
	        			<div class="input-icon right">
	        				<i class="fa fa-user"></i>
	        				<input type="text" placeholder="Workforce ID or NRC Number" name="username" class="form-control">
	        			</div>
	    			</div>
		            <div class="form-group">
		                <div class="input-icon right">
		                	<i class="fa fa-key"></i>
		                	<input type="password" placeholder="Password" name="password" class="form-control">
		                </div>
		            </div>
		            <div class="form-group pull-right">
		                <button type="submit" class="btn btn-success">Log In
		                    &nbsp;<i class="fa fa-chevron-circle-right"></i></button>
		            </div>
		            <div class="clearfix"></div>
				</form>
	        </div>
	    </div>
	</div><!--end sign in section -->
        
     <div class="container" id="about-section" style="margin-top:30px">
    	<div class="row"><!--start section row -->
    		<div class="col-md-12"><p></p><p></p></div>
    		<div class="col-md-4 col-sm-4 col-xs-12 form-group">
                <div class="info-section fadeInRight">
                    <i class="fa fa-info fa-4x"></i>
                    <h3>About ZOMIS</h3>
                    <p class="text-justify">Zambia Orphan and Vulnerable Children Management Information System (ZOMIS) is a 
                    system of the Ministry of Community Development Mother and Child Health (MCDMCH) to 
                    allow all organisations working with vulnerable children...<a href="http://zomis.mcdmch.gov.zm/help" target="_blank">show more</a></p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-section fadeInRight">
                    <i class="fa fa-mobile fa-4x"></i>
                    <h3>Available interfaces</h3>
                    <p class="text-justify">There are three "interfaces" to this system.  The web interface is accessible over the 
                    internet and is easily accessible via an internet-enabled computer or device.  
                    The capture site application is a stand alone application which can be<a href="http://zomis.mcdmch.gov.zm/help" target="_blank">...show more</a></p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-section fadeInRight">
                    <i class="fa fa-child fa-4x"></i>
                    <h3>Vulnerable child</h3>
                    <p class="text-justify">A vulnerable child is defined broadly within this system as an individual below the age
                     of 18 and has been, is in or is likely to be in an adverse condition(s) where he/she is likely
                      to suffer significant physical, emotional or mental stress that<a href="http://zomis.mcdmch.gov.zm/help" target="_blank">...show more</a></p>
                </div>
            </div>
    	</div><!--end section row -->
    </div>
</div>
        

{% endblock %}