{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Workforce/user {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_workforce %}active{% endblock %}


{% block body_page_title %} <i class="fa fa-user fa-4"></i>  {{page_title}} {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">New workforce member/user</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>New workforce member/user</li>
{% endblock breadcrum %}


{% block content %}

<div class="container">
    <div class="row">

        {% crispy form %}
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="/static/ovc_main/js/vendor/jquery.quicksearch.js"></script>
<script>
$(document).ready(function () {
    $( "#id_date_of_birth" ).datepicker( "option", "dateFormat", 'd MM, yy' );
    if ($("#id_date_of_death").val() == '') {
        $("#div_id_date_of_death").hide();
    }
    $('.datepicker').datepicker(
            {
                //minDate: "-18Y",
                dateFormat: 'd-MM-yy',
                yearRange: "1904:2050",
                maxDate: 0,
                changeMonth: true,
                changeYear: true
            });

    $("input[id='id_edit_mode']").on('ifChecked', function () {
        var selVal = $(this).val();
        if (selVal == 2)
        {
            $("#div_id_date_of_death").show();
        }
        else
        {
            $("#div_id_date_of_death").hide();
            $("#id_date_of_death").val('');
        }
    });

	$("form").submit(function() {
        $(this).submit(function() {
            return false;
        });
        return true;
    });
});
//TODO add the default year -18Y
</script>
{% endblock scripts %}