{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Guardian {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_beneficiary %}active{% endblock %}

{% block body_page_title %} <i class="fa fa-plus fa-6"></i> Guardian {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Guardian</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Guardian</li>
{% endblock breadcrum %}
{% block content %}

        <div class="container">
            <div class="row">
            
				{% crispy form %}
			</div>
		</div>

{% endblock content %}
{% block scripts %}
	<script src="{% static "ovc_main/js/guardian_reg_ben.js" %}"></script>
	<script>
$(document).ready(function() {
    
    $("#id_date_of_birth").datepicker(
    {
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2016",
    	maxDate: "-18Y",
        changeMonth: true,
        changeYear: true
    });
    
    $("#id_location_change_date").datepicker(
    {
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2016",
    	maxDate: 0,
        changeMonth: true,
        changeYear: true
    });
    
    $("#id_date_of_death").datepicker(
    {
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2016",
    	maxDate: 0,
        changeMonth: true,
        changeYear: true
    });
    
    $("#id_date_paper_form_filled").datepicker(
    {
    	dateFormat: 'd-MM-yy',
        yearRange: "1904:2016",
    	maxDate: 0,
        changeMonth: true,
        changeYear: true
    });
    
    var today = new Date();
    var month = new Array();
    month[0] = "January";
    month[1] = "February";
    month[2] = "March";
    month[3] = "April";
    month[4] = "May";
    month[5] = "June";
    month[6] = "July";
    month[7] = "August";
    month[8] = "September";
    month[9] = "October";
    month[10] = "November";
    month[11] = "December";
    var currentMonth = month[today.getMonth()];
    var formattedDate = (today.getDate() + '-' + currentMonth + '-' + today.getFullYear());
    
    if(!$("#id_date_of_death").prop('required')){
    	$('.dead_control').hide();
    }
    
    $("input[id='id_edit_mode']").on('ifChecked',function(){
    	var selVal = $(this).val();
    	if(selVal == 2)
    	{
    		$('.dead_control').show();
    		$("#id_date_of_death").prop('required', true);
		}
		else
		{
			$('.dead_control').hide();
			$("#id_date_of_death").prop('required', false);
		}
    });
    
    if($("#div_id_date_of_death" ).hasClass( "has-error" )){
    	$("input[name=edit_mode][value='2']").iCheck('check');
    	$("input:radio[name=edit_mode][value='2']").val('2');
    }
    
    if($("#id_community").val()=="")
    {
    	$("#id_community").empty();
		$("#id_community").append("<option value=''>-----</option>");
    }
    
    if($("#id_ben_ward").val()=="")
    {
    	$("#id_ben_ward").empty();
    	$("#id_ben_ward").append("<option value=''>-----</option>");
    }
    
    if ($("#id_location_change_date").val() == "")
    {
        //$("#id_location_change_date").val(formattedDate);

    }

    if ($("#id_date_paper_form_filled").val() == "")
    {
        //$("#id_date_paper_form_filled").val(formattedDate);
    }
    
});                                        

	


//$(function(event) {
//      $('input[name=mobile_phone_number]').keyup(function() {
//	     var curchr = this.value.length;
//	     var curval = $(this).val();
//	      if (curchr == 3) {
//	      	$('input[name=mobile_phone_number]').val("(+260) " + curval +"-");
//	      } else if (curchr == 10) {
//	      	$('input[name=mobile_phone_number]').val(curval + "-");
//	      }
//     	});
//      });

      
</script>
{% endblock scripts %}