{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Organisational unit {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_org_unit %}active{% endblock %}

{% block body_page_title %} <i class="fa fa-plus fa-6"></i> {{page_title}} {% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Organisational unit</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Organisational unit</li>
{% endblock breadcrum %}

{% block content %}
<div class="container">
    <div class="row">

		{% crispy form %}
	</div>
</div>
<!--script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script-->
<script src="{% static "themeforest_uadmin/js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js" %}"></script>

<script>
$(document).ready(function() {
    $('.datepicker').datepicker({
            dateFormat: 'd-MM-yy',
            yearRange: "1904:2050",
            maxDate: 0,
            changeMonth: true,
            changeYear: true
		});

    $("input[id='orgclosedcheckbox']").on('ifChecked',function(){
    	$('.date_closed_control').show();
    	$("input[id='id_org_never_existed']").iCheck('uncheck');

    });
    $("input[id='orgclosedcheckbox']").on('ifUnchecked',function(){
    	$('.date_closed_control').hide();
    	$( "#id_date_closed" ).datepicker( "setDate","");

    });

    $("input[id='id_org_never_existed']").on('ifChecked',function(){
    	$("input[id='orgclosedcheckbox']").iCheck('uncheck');

    });

    if($("input[id='orgclosedcheckbox']").is(':checked'))
    {
    	$('.date_closed_control').show();
    }
});
</script>
{% endblock content %}

{% block scripts %}
<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
<script>
$("form").submit(function(){
    $(":submit").attr('disabled', 'disabled');
    return true;
});
</script>
{% endblock scripts %}
