{% for org in orgs_list%}
    {% if not is_capture_app %}
   	<tr 
   		class="table_row_clickable" 
   		href="/organisation/view_org?organisation_id={{org.org_system_id}}" 
   		style="cursor:pointer">
    {% else %}
<tr>
    {% endif %}   		
   		<td>{{ org.org_id }}{%if not org.is_active%} <span class="badge">closed</span>{%endif%}</td>
   		<td>{{ org.org_name|truncatechars:40 }}</td>
   		<td>{{ org.unit_type_name|truncatechars:40 }}</td>
   		<td>{{ org.parent_organisation_name }}</td>
   		<td>{{ org.location }}</td>
   	{% if not is_capture_app %}
                <td>
	   		{% if 'auth.update org contact rel' in perms or 'auth.update org special' in perms or 'auth.update org general' in perms or 'auth.update org general re' in perms or 'auth.update org contact' in perms %}
	   		<span>
	            <a href="/organisation/update_org?organisation_id={{org.org_system_id}}" class="btn btn-primary btn-xs">
	                <i class="fa fa-edit"></i>&nbsp;Update
	            </a>
	        </span>
	   		{% endif %}
   		</td>
        {% endif %}
   	</tr>
   	{% endfor %}