{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Organisational unit {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_org_unit %}active{% endblock %}

{% block body_page_title %} View details - organisational unit{% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Organisational unit - view details</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Organisational unit - view details</li>
{% endblock breadcrum %}
{% block content %}
	<div class="form-horizontal">
		
		<div class="multiField">
			<div class="panel panel-primary" >
				<div class="panel-heading" >
		       		About the organisational unit
				</div>
				<div class="panel-body pan" ><p/> 
				<div id="div_id_org_name" class="form-group">
						<label for="id_org_name" class="control-label col-md-3">Organisational unit ID</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{organisation.org_id}}</strong></p>
					    </div>
						
					</div>
					<div id="div_id_org_name" class="form-group">
						<label for="id_org_name" class="control-label col-md-3">Organisational unit name</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{organisation.name}}</strong></p>
					    </div>
					</div>
					<div id="div_id_date_org_setup" class="form-group">
						<label for="id_date_org_setup" class="control-label col-md-3">Date organisational unit established</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{organisation.date_operational|date:"d M Y"}}</strong></p>
					    </div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary" >
				<div class="panel-heading" >
				       Organisational unit type
				</div>
				
				<div class="panel-body pan" ><p/> 
					<div id="div_id_organisation_type" class="form-group">
						<label for="id_organisation_type" class="control-label col-md-3">Organisational unit type</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{organisation.unit_type_name}}</strong></p>
					    </div>
						
					</div>
					<div id="div_id_legal_registration_type" class="form-group">
						<label for="id_legal_registration_type" class="control-label col-md-3">
								Legal registration type</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{organisation.legalregistrationtype_name}}</strong></p>
					    </div>
					</div>
					<div id="div_id_legal_registratiom_number" class="form-group">
						<label for="id_legal_registratiom_number" class="control-label col-md-3">
								Legal registration number</label>
						<div class="col-md-6">
					      <p class="form-control-static"><strong>{{organisation.registrationnumber}}</strong></p>
					    </div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary" >
				<div class="panel-heading" >
				       Where located, providing services
				</div>
				<div class="panel-body" ><p/> 
				<table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Province-District</th>
                                        <th>Constituency-Ward</th>
                                        <th>Community (CWAC or GDCLSU)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for locationprovided in organisation.locations_for_display %}
                                    <tr>
                                    	<td>{{forloop.counter}}</td>
                                    	{% for individuallocation in locationprovided %}
	                                        
	                                        {% if forloop.counter0 == 0 %}
	                                        	<td>{{individuallocation.geoname}}
	                                        {% endif %}
	                                        {% if forloop.counter0 == 1 %}
	                                        	-{{individuallocation.geoname}}</td>
	                                        {% endif %}
	                                        {% if forloop.counter0 == 2 %}
	                                        	<td>{{individuallocation.geoname}}
	                                        {% endif %}
	                                        {% if forloop.counter0 == 3 %}
	                                        	-{{individuallocation.geoname}}</td>
	                                        {% endif %}
	                                        {% if forloop.counter0 == 4 %}
	                                        	<td>{{individuallocation.geoname}}</td>
	                                        {% endif %}
	                                        {% if forloop.counter0 == 1 and forloop.last %}
	                                        	<td>n/a</td>
	                                        	<td>n/a</td>
	                                        {% endif %}
	                                        {% if forloop.counter0 == 2 and forloop.last %}
	                                        	<td>n/a</td>
	                                        {% endif %}
	                                        {% if forloop.counter0 == 3 and forloop.last %}
	                                        	<td>n/a</td>
	                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %} 
                                 
                                    </tbody>
                                </table>
					
				</div>
			</div>
		</div>
		<div class="panel panel-primary" >
			<div class="panel-heading" >
				       Parent organisational unit
			</div>
			<div class="panel-body pan" ><p/> 
				<div id="div_id_parent_unit" class="form-group">
					<label for="id_parent_unit" class="control-label col-md-3">
							Parent organisational unit
					</label>
					<div class="col-md-6">
				      <p class="form-control-static"><strong>{{organisation.parent_organisation_name}}</strong></p>
				    </div>
				</div>
			</div>
		</div>
		<div class="panel panel-primary" >
			<div class="panel-heading" >
			       Organisational unit contact details
			</div>
			<div class="panel-body pan" ><p/> 
				<div id="div_id_land_phone_number" class="form-group">
					<label for="id_land_phone_number" class="control-label col-md-3">
							Landline phone number
					</label>
				<div class="col-md-6">
				      <p class="form-control-static"><strong>{{organisation.contact.land_phone_number}}</strong></p>
				    </div>
			</div>
			<div id="div_id_mobile_phone_number" class="form-group">
				<label for="id_mobile_phone_number" class="control-label col-md-3">
							Mobile phone number
				</label>
				<div class="col-md-6">
				      <p class="form-control-static"><strong>{{organisation.contact.mobile_phone_number}}</strong></p>
				    </div>
			</div>
			<div id="div_id_email_address" class="form-group">
				<label for="id_email_address" class="control-label col-md-3">
							Email address
				</label>
				<div class="col-md-6">
				      <p class="form-control-static"><strong>{{organisation.contact.email_address}}</strong></p>
				    </div>
			</div>
			<div id="div_id_postal_address" class="form-group">
				<label for="id_postal_address" class="control-label col-md-3">
							Postal address
				</label>
				<div class="col-md-6">
				      <p class="form-control-static"><strong>{{organisation.contact.postal_address}}</strong></p>
				    </div>
			</div>
			<div id="div_id_physical_address" class="form-group">
				<label for="id_physical_address" class="control-label col-md-3">
							Physical address
				</label>
				<div class="col-md-6">
				      <p class="form-control-static"><strong>{{organisation.contact.physical_address}}</strong></p>
				    </div>
			</div>
		</div>
		
	</div>
	<div class="panel panel-primary" >
			<div class="panel-heading" >
				       Organisational unit status
			</div>
			<div class="panel-body pan" >
				<div id="div_id_parent_unit_status_closed" class="form-group">
					{% if organisation.date_closed %}
					<label for="id_parent_unit" class="control-label col-md-7">
							<i class="fa fa-exclamation-triangle fa-5"></i> Organisational unit closed / no longer functional
					</label>
					<label for="id_parent_unit" class="control-label col-md-6">
							Date closed <strong>{{organisation.date_closed}} </strong>
					</label>
					{% endif %}
				</div>
				
				{% if organisation.is_void %}
				<div id="div_id_parent_unit_status_deleted" class="form-group">
					<label for="id_parent_unit" class="control-label col-md-8">
							<i class="fa fa-exclamation-triangle fa-5"></i> <strong>Organisational unit never existed (was a registration mistake or duplicate)</strong>
					</label>
					
				</div>
				{% endif %}
				{% if not organisation.date_closed and not organisation.is_void %}
					<div id="div_id_org_status_active" class="form-group">
						<label for="org_status_active" class="control-label col-md-3">Organisational unit status</label>
						<div class="col-md-6">
					      <p class="form-control-static" id="org_status_active"><strong>Active</strong></p>
					    </div>
						
					</div>
				{% endif %}
			</div>
		</div>
	<div class="md-col-6" style="margin-left:41%">
	{% if 'auth.update org contact rel' in perms or 'auth.update org special' in perms or 'auth.update org general' in perms or 'auth.update org general re' in perms or 'auth.update org contact' in perms %}
		{% if not organisation.date_closed %}
			<a type="button" href="/organisation/update_org?organisation_id={{organisation.org_system_id}}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Update...</a>
		{% endif %}
	{% endif %}
		<a type="button" href="/organisation/" class="btn btn-success"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
	</div>
</div>
{% endblock content %}