{% extends "main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Forms Home {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}{% endblock %}
{% block navbar_class_beneficiary %}{% endblock %}
{% block navbar_class_reports %}active{% endblock %}

{% block body_page_title %} Reports and analysis home{% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Reports and analysis home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li>Reports and analysis home</li>
{% endblock breadcrum %}
{% block content %}

	<div class="form-horizontal">
		
		<div class="multiField">
			
			<div class="panel panel-grey reports-home" >
				<div class="panel-heading" >
				       Choose and customise a report
				</div>
				
				<div class="panel-body pan" ><p/> 
					<form id="id_param_form">
					<div id="div_id_report_type" class="form-group">
						<label for="id_report_type" class="control-label col-md-3">
								Report type:</label>
						<div class="col-md-6">
							<select  size="5" class="form-control" name='report_type' id='id_report_type'>
							{{ report_types|safe|escape }}
							</select>
					    </div>
					</div>
					
					<div id="div_id_item_id" class="form-group">
						<label for="id_item_id" id="id_item_id_label" class="control-label col-md-3">
								Item:</label>
						<div class="col-md-6" id="div_id_item_id_error">
							<select data-style="btn-white" data-size="8" class="form-control id_item_id" data-live-search="true" name='item_id' id='id_item_id'>
								<option value="">-----</option>
							</select>
					    </div>
					</div>
					
					<div id="div_id_question" class="form-group">
						<label for="id_question" id="id_question_label" class="control-label col-md-3">
								Question:</label>
						<div class="col-md-6" id="div_id_question_error">
							<select data-style="btn-white" data-size="8" data-live-search="true" class="form-control" name='question' id='id_question'>
								<option value="">-----</option>
							</select>
					    </div>
					</div>
					
					<div id="div_id_geo_area" class="form-group">
						<label for="id_geo_area" id="id_geo_area_label" class="control-label col-md-3">
								Geographical area:</label>
						<div class="col-md-6" id="div_id_geo_area_error">
							<select data-style="btn-white" data-size="8" class="form-control selectpicker show-tick id_geo_area" data-live-search="true" name="geo_area" id="id_geo_area">
								<option value="">-----</option>
							</select>
					    </div>
					</div>
					
					<div id="div_id_org_unit" class="form-group">
						<label for="id_org_unit" id="id_org_unit_label" class="control-label col-md-3">
								Organisational unit:</label>
						<div class="col-md-6" id="div_id_org_unit_error">
							<strong><input class="autocompleteorgunit textinput textInput form-control id_org_unit" id="id_org_unit" name="org_unit" type="text" /></strong>
					    </div>
					</div>
					
					<div id="div_id_sub_units" class="form-group form-inline">
						<div id="div_org_set">
							<label for="id_sub_units" id="id_sub_units_label" class="control-label col-md-3">
									Organisational unit set:</label>
							<div class="col-md-4" id="div_id_sub_units_error">
						      <strong>
						      	<select data-style="btn-white" data-size="8" class="selectpicker form-control col-md-4 id_sub_units" data-live-search="true" name='sub_units' id='id_sub_units'>
									{{ sets|safe|escape }}
								</select>
						      </strong>
						    </div>
					    </div>
					    <div id="div_id_setup_sets">
							<div class="col-md-4" id="div_id_setup_sets_error">
						      <strong>
						      	<button id="id_setup_sets" name="setup_sets" class="btn btn-info btn-square col-md-3">
									<i class="fa fa-cog"></i> Setup sets
								</button>
						      </strong>
						    </div>
					    </div>
					</div>
					
					<div id="div_id_range" class="form-group form-inline">
						<div id="div_id_from">
							<label for="id_from" id="id_from_label" class="control-label col-md-3">
									From:</label>
							<div class="col-md-2" id="div_id_range_error">
						      <strong><input class="datepicker dateinput form-control col-md-2" id="id_from" name="from" type="text"></strong>
						    </div>
					    </div>
					    <div id="div_id_to">
						    <label for="id_to" id="id_to_label" class="control-label col-md-1">
									To:</label>
							<div class="col-md-3" id="div_id_to_error">
						      <strong><input class="datepicker dateinput form-control col-md-2" id="id_to" name="to" type="text"></strong>
						    </div>
					    </div>
					</div>
					
					<div id="div_id_range_c" class="form-group form-inline">
						<div id="div_id_from_c">
							<label for="id_from_c" id="id_from_c_label" class="control-label col-md-3">
									Compared to: From:</label>
							<div class="col-md-2" id="div_id_range_c_error">
						      <strong><input class="datepicker dateinput form-control col-md-2" id="id_from_c" name="from_c" type="text"></strong>
						    </div>
					    </div>
					    <div id="div_id_to_c">
						    <label for="id_to_c" id="id_to_c_label" class="control-label col-md-1">
									To:</label>
							<div class="col-md-3" id="div_id_to_c_error">
						      <strong><input class="datepicker dateinput form-control col-md-2" id="id_to_c" name="to_c" type="text"></strong>
						    </div>
					    </div>
					</div>
					<p/>
					<div class="form-inline" role="form">
						<div class="col-md-3"> <button type="submit" style="margin-left:7%" id="id_run" class="btn btn-success"><i class="fa fa-check-square-o"></i> Run report </button> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:10%" id="id_convert_excel" href="#" class="btn btn-blue btn-square"><i class="fa fa-file-excel-o"></i> Export to excel </a> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:13%" id="id_convert_graph" href="#" class="btn btn-blue btn-square"><i class="fa fa-line-chart"></i> View as graph </a> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:17%" id="id_convert_map" href="#" class="btn btn-blue btn-square"><i class="fa fa-map-marker"></i> View as map </a> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:20%" id="id_convert_pdf" href="#" class="btn btn-blue btn-square"><i class="fa fa-file-pdf-o"></i> Export as pdf </a> </div>
					</div>
					<input class="textinput textInput form-control" style="visibility:hidden" id="id_control_to_visual" name="control_to_visual" type="text" />
				  </form>
				</div>
			</div>
			
			
			
			<div class="panel panel-grey reports-home" >
				<div class="panel-heading" >
				       Report results
				</div>
				<div class="panel-body pan" >
				 	</p>
					<table id="reportResults"  class="table table-hover table-bordered">
	                    <thead>
	                    <tr>
	                    	{% for key, value in report.items%}
	                        <th>{{ row.key }}</th>
	                        {% endfor %}
	                    </tr>
	                    </thead>
	                    <tbody class="tbodyresults">
	                        {% if not reports %}
	                       		<tr><td colspan="1">no results</td></tr>
	                       	{% else %}
	                       	{% include "ovc_main/report_run_table_list.html" %}
	                       	{% endif %}
	                    </tbody>
	                </table>
	                
	                <div class="form-inline" role="form">
						<div class="col-md-3"> <a type="button" style="margin-left:7%;visibility:hidden" id="id_run" href="#" class="btn btn-success"><i class="fa fa-check-square-o"></i> Run report </a> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:10%" id="id_run" href="#" class="btn btn-blue btn-square"><i class="fa fa-file-excel-o"></i> Export to excel </a> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:13%" id="id_run" href="#" class="btn btn-blue btn-square"><i class="fa fa-line-chart"></i> View as graph </a> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:17%" id="id_run" href="#" class="btn btn-blue btn-square"><i class="fa fa-map-marker"></i> View as map </a> </div>
						<div class="col-md-2"> <a type="button" style="margin-left:20%" id="id_run" href="#" class="btn btn-blue btn-square"><i class="fa fa-file-pdf-o"></i> Export as pdf </a> </div>
					</div>
					<input class="textinput textInput form-control" style="visibility:hidden" id="id_org_id_hidden" name="org_id_hidden" type="text" />
                </div>         
			</div>
			
			<div class="panel panel-grey setup-set hide" >
				<div class="panel-heading" >
				       Setup sets of organisational units for easy data analysis
				</div>
				
				<div class="panel-body pan" ><p/> 
					
					 <div id="div_id_set" class="form-group form-inline">
						<div id="div_id_set_name">
							<label for="id_set_name" class="control-label col-md-3">
									Set name:</label>
							<div class="s-sel col-md-2">
								<select type="text" data-size="8" class="selectpicker form-control col-md-4 sel-edi" data-live-search="true" placeholder="search or type new..." name='set_name' id='id_set_name'>
									{{ sets|safe|escape }}
								</select>
						    </div>
						    <div class="s-text col-md-2 hide">
						    	<input class="form-control col-md-4" id="id_set_name_text" name="set_name_text" type="text">
						    </div>
					    </div>
					    
					    <div id="div_id_set_buttons" class="form-group form-inline col-md-4">
					    	<div class="col-md-2">
								<button type="button" id="id_add" class="form-control btn btn-success"><i class="fa fa-plus-square add-ico"> Add </i></button>
							</div>
							<div class="col-md-2">
								<button type="button" id="id_delete" class="form-control btn btn-danger"><i class="fa fa-trash-o delete-ico"> Delete </i></a>
							</div>
						</div>
					</div>
					
					<div id="div_id_search_org" class="form-group">
						<label for="id_search_org" class="control-label col-md-3">
								Search for organisational units:</label>
						<div class="col-md-6">
							<select multiple="multiple" class="multiselect-searchable selectmultiple form-control" name='search_org' id='id_search_org'>
							{{ org_opts|safe|escape }}
							</select>
					    </div>
					</div>
					
					<div id="div_id_item_id" class="form-group">
						<div class="col-md-5">
							<button type="button"  id="id_save_set" name="return" class="btn btn-primary" style="margin-left:70%">
								<i class="fa fa-floppy-o"></i> Save changes to set
							</button>
					    </div>
					    <div class="col-md-5">
							<button type="button"  id="id_return" name="return" class="btn btn-blue btn-square" style="margin-left:6%">
								<i class="fa fa-undo"></i> Return to reports home
							</button>
					    </div>
					</div>
					
					<input class="textinput textInput form-control" style="visibility:hidden" id="id_set_id" name="set_id" type="text" />
					<p/>
				</div>
			</div>
</div>
	<!-- Button trigger modal -->
    <button id="reports_dialog_box" type="button" style="visibility:hidden" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#dupModal">
      Launch demo modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="dupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Report sets</h4>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this set?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"> No </button>
            <button class="btn btn-success" id="id_confirm_delete" data-dismiss="modal"> Yes </button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block scripts %}
	<script src="{% static "ovc_main/js/reports_and_analysis.js" %}"></script>
	<script src="{% static "ovc_main/js/general/multiselect-searchable.js" %}"></script>
	<script src="{% static "ovc_main/js/vendor/jquery.quicksearch.js" %}"></script>
	
	<script>
		$(document).ready(function () {
			//initializations
			$(".dateinput").datepicker(
		    {
		    	maxDate: 0,
		    	dateFormat: 'd-MM-yy',
		        yearRange: "1904:2030",
		        changeMonth: true,
		        changeYear: true
		    });
		    
			//$( "#div_id_item_id").hide();
			//$( "#div_id_question").hide();
			//$( "#div_id_geo_area").hide();
			//$( "#div_id_org_unit").hide();
			//$( "#div_id_sub_units").hide();
			//$( "#div_id_from").hide();
			//$( "#div_id_to").hide();
			//$( "#div_id_from_c").hide();
			//$( "#div_id_to_c").hide();
			
		});
	</script>
{% endblock scripts %}