{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Workforce member/user {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_workforce %}active{% endblock %}

{% block body_page_title %} View details - workforce/user{% endblock %}
{% block breadcrum %}
<li class="hidden"><a href="#">Workforce member/user - view details</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
<li>Workforce member/user - view details</li>
{% endblock breadcrum %}
{% block content %}
<div class="form-horizontal">

<div class="multiField">
    <div class="panel panel-primary" >
        <div class="panel-body pan" ><p/> 
            <div id="div_id_workforce_id" class="form-group">
                <label for="id_workforce_id" class="control-label col-md-3">Workforce member ID</label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.workforce_id}}</strong></p>
                </div>

            </div>
            <div id="div_id_national_id" class="form-group">
                <label for="id_national_id" class="control-label col-md-3">NRC</label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.national_id}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" >
        <div class="panel-heading" >
            Personal details
        </div>
        <div class="panel-body pan" ><p/> 
            <div id="div_id_first_name" class="form-group">
                <label for="id_first_name" class="control-label col-md-3">First name </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.first_name}}</strong></p>
                </div>

            </div>
            <div id="div_id_surname" class="form-group">
                <label for="id_surname" class="control-label col-md-3">Surname </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.surname}}</strong></p>
                </div>
            </div>
            <div id="div_id_other_names" class="form-group">
                <label for="id_other_names" class="control-label col-md-3">Other name(s) </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.other_names}}</strong></p>
                </div>
            </div>
            <div id="div_id_sex" class="form-group">
                <label for="id_sex" class="control-label col-md-3">Sex </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.sex}}</strong></p>
                </div>

            </div>
            <div id="div_id_date_of_birth" class="form-group">
                <label for="id_date_of_birth" class="control-label col-md-3">Date of birth</label>
                <div class="col-md-6">
                    {% if workforce.date_of_birth %}
                    <p class="form-control-static"><strong>{{workforce.date_of_birth}}</strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" >
        <div class="panel-heading" >
            Workforce member/user type
        </div>

        <div class="panel-body pan" ><p/> 
            <div id="div_id_workforce_type" class="form-group">
                <label for="id_organisation_type" class="control-label col-md-3">Workforce member/user type </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.person_type}}</strong></p>
                </div>

            </div>
            <div id="div_id_man_number" class="form-group">
                <label for="id_man_number" class="control-label col-md-3">
                    MAN number</label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.man_number}}</strong></p>
                </div>
            </div>
            <div id="div_id_ts_number" class="form-group">
                <label for="id_ts_number" class="control-label col-md-3">
                    If teacher, TS number</label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.ts_number}}</strong></p>
                </div>
            </div>
            <div id="div_id_sign_number" class="form-group">
                <label for="id_sign_number" class="control-label col-md-3">
                    If police officer, call sign number</label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.sign_number}}</strong></p>
                </div>
            </div>
            <div id="div_id_steps_ovc_number" class="form-group">
                <label for="id_steps_ovc_number" class="control-label col-md-3">
                    Other ID
                    <!-- STEPS OVC caregiver number --> 
                </label>
                <div class="col-md-6">
                    <p class="form-control-static"><strong>{{workforce.steps_ovc_number}}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary" >
        <div class="panel-heading" >
            Parent organisational unit(s)
        </div>
        <div class="panel-body" ><p/> 
            <table id="orgTable"  class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Org unit</th>
                        <th>Org unit ID</th>
                        <th>Primary parent org unit</th>
                        <th>Registration assistant for the org unit</th>
                    </tr>
                    {% for org in workforce.org_units%}
                    <tr>
                        <td>{{ org.org_name }}</td>
                        <td>{{ org.org_id }}</td>
                        <td>{{ org.primary_org }}</td>
                        <td>{{ org.is_reg_assistant }}</td>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="panel panel-primary" >
    <div class="panel-heading" >
        Where workforce member/user works
    </div>
    <div class="panel-body" ><p/> 
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Province-District</th>
                    <th>Constituency-Ward</th>
                    <th>Community (CWAC or GDCLSU)</th>
                </tr>
            </thead>
            <tbody>
                {% for locationprovided in workforce.locations_for_display %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    {% for individuallocation in locationprovided %}

                    {% if forloop.counter0 == 0 %}
                    <td>{{individuallocation.geoname}}
                        {% endif %}
                        {% if forloop.counter0 == 1 %}
                        -{{individuallocation.geoname}}</td>
                    {% endif %}
                    {% if forloop.counter0 == 2 %}
                    <td>{{individuallocation.geoname}}
                        {% endif %}
                        {% if forloop.counter0 == 3 %}
                        -{{individuallocation.geoname}}</td>
                    {% endif %}
                    {% if forloop.counter0 == 4 %}
                    <td>{{individuallocation.geoname}}</td>
                    {% endif %}
                    {% if forloop.counter0 == 1 and forloop.last %}
                    <td>n/a</td>
                    <td>n/a</td>
                    {% endif %}
                    {% if forloop.counter0 == 2 and forloop.last %}
                    <td>n/a</td>
                    {% endif %}
                    {% if forloop.counter0 == 3 and forloop.last %}
                    <td>n/a</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %} 

            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary" >
    <div class="panel-heading" >
        Contact details
    </div>
    <div class="panel-body pan" ><p/> 
        <div id="id_designated_phone_number" class="form-group">
            <label for="id_designated_phone_number" class="control-label col-md-3">
                Designated mobile number for sending and receiving SMSes
            </label>
            <div class="col-md-6">
                <p class="form-control-static"><strong>{{workforce.contact.designated_phone_number}}</strong></p>
            </div>
        </div>
        <div id="div_id_mobile_phone_number" class="form-group">
            <label for="id_other_mobile_number" class="control-label col-md-3">
                Other mobile number 
            </label>
            <div class="col-md-6">
                <p class="form-control-static"><strong>{{workforce.contact.other_mobile_number}}</strong></p>
            </div>
        </div>
        <div id="div_id_email_address" class="form-group">
            <label for="id_email_address" class="control-label col-md-3">
                Email address
            </label>
            <div class="col-md-6">
                <p class="form-control-static"><strong>{{workforce.contact.email_address}}</strong></p>
            </div>
        </div>
        <div id="div_id_physical_address" class="form-group">
            <label for="id_physical_address" class="control-label col-md-3">
                Physical address
            </label>
            <div class="col-md-6">
                <p class="form-control-static"><strong>{{workforce.contact.physical_address}}</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="md-col-6" style="margin-left:41%">
    <span style="display:{{sec.user_can_edit}}"><a type="button" href="/workforce/update_wfc?person_id={{workforce.id_int}}" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Update...</a></span>
    <span><a type="button" href="/workforce/wfcsearch/" class="btn btn-success"><i class="fa fa-arrow-circle-o-left"></i> Back</a></span>
    <span style="display:{{sec.user_can_assign_role}}"><a type="button" href="/allocate_role?workforceid={{workforce.id_int}}" class="btn btn-warning"><i class="fa fa-arrow-circle-o-left"></i> Allocate role</a></span>
</div>
</div>
{% endblock content %}