{% load static %}
<!DOCTYPE html>
<html lang="en">
<head><title>ZOMIS | Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
    <link rel="shortcut icon" href="{% static "themeforest_uadmin/images/icons/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "themeforest_uadmin/images/icons/favicon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "themeforest_uadmin/images/icons/favicon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "themeforest_uadmin/images/icons/favicon-114x114.png" %}">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/font-awesome/css/font-awesome.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/bootstrap/css/bootstrap.min.css" %}">
    <!--LOADING STYLESHEET FOR PAGE-->
	<link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/select2/select2-madmin.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/intro.js/introjs.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/calendar/zabuto_calendar.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/sco.message/sco.message.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/intro.js/introjs.css" %}">
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/animate.css/animate.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-pace/pace.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/iCheck/skins/all.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/vendors/jquery-notific8/jquery.notific8.min.css" %}">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/css/themes/style1/yellow-green.css" %}" class="default-style">
    <link type="text/css" rel="stylesheet" href="{% static "themeforest_uadmin/css/style-responsive.css" %}">
</head>
<body>
<div><!--BEGIN BACK TO TOP--><a id="totop" href="#"><i class="fa fa-angle-up"></i></a><!--END BACK TO TOP--><!--BEGIN TOPBAR-->
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0; z-index: 2;" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="/home/" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">ZOMIS</span><span style="display: none" class="logo-text-icon">z</span></a></div>
         <div class="topbar-main">
				<a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                </ul>
            </div>
		 </nav>
     </div>
 </div>
 
 <div class="page-form">
    <form action="/home/" class="form" style="background-color:#005a3f" method="post">
    {% csrf_token %}
        <div class="header-content" style="background-color:#005a3f"><h1>zomis</h1></div>
        <div class="container"><label style="color:yellow">{%if message %}<i class="fa fa-warning"></i> {{message}} {%endif%}</label></div>
        <div class="body-content">

            <div class="form-group">
                <div class="input-icon right"><i class="fa fa-user"></i><input type="text" placeholder="Workforce ID" name="username" class="form-control"></div>
            </div>
            <div class="form-group">
                <div class="input-icon right"><i class="fa fa-key"></i><input type="password" placeholder="Password" name="password" class="form-control"></div>
            </div>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-success">Log In
                    &nbsp;<i class="fa fa-chevron-circle-right"></i></button>
            </div>
            <div class="clearfix"></div>
    </form>
</div>

<script src="{% static "themeforest_uadmin/js/jquery-1.10.2.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/js/jquery-migrate-1.2.1.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/js/jquery-ui.js" %}"></script>
<!--loading bootstrap js-->
<script src="{% static "themeforest_uadmin/vendors/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" %}"></script>
<script src="{% static "themeforest_uadmin/js/html5shiv.js" %}"></script>
<script src="{% static "themeforest_uadmin/js/respond.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/metisMenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/slimScroll/jquery.slimscroll.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/jquery-cookie/jquery.cookie.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/iCheck/icheck.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/iCheck/custom.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/jquery-notific8/jquery.notific8.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/jquery-highcharts/highcharts.js" %}"></script>
<script src="{% static "themeforest_uadmin/js/jquery.menu.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/jquery-pace/pace.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/holder/holder.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/responsive-tabs/responsive-tabs.js" %}"></script>
<!--CORE JAVASCRIPT-->
<script src="{% static "themeforest_uadmin/js/main.js" %}"></script>
<!--LOADING SCRIPTS FOR PAGE-->
<script src="{% static "themeforest_uadmin/vendors/select2/select2.min.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.categories.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.pie.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.tooltip.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.resize.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.fillbetween.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.stack.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/flot-chart/jquery.flot.spline.js" %}"></script>
<script src="{% static "themeforest_uadmin/vendors/sco.message/sco.message.js" %}"></script>
<script src="{% static "themeforest_uadmin/js/index.js" %}"></script>
 </body>
 </html>
            