{% extends "main_base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}{{ app_name }} | Digital Library {% endblock %}
{% block navbar_class_dashboard %}{% endblock %}
{% block navbar_class_registries %}active{% endblock %}
{% block navbar_class_workforce %}active{% endblock %}

{% block body_page_title %} Remove Upload - Digital Library{% endblock %}
{% block breadcrum %}
    <li class="hidden"><a href="#">Digital Library - Remove upload</a>&nbsp;&nbsp;<i
            class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
    <li>Digital Library - Remove upload</li>
{% endblock breadcrum %}
{% block content %}

    <div class="form-horizontal">
        <form action="/library/confirm_delete" method="post">{% csrf_token %}
            <div class="alert alert-block alert-danger">
                <ul>
                    <li>Are you sure you want to delete upload with details below ?</li>
                </ul>
            </div>
            <div class="multiField">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Library upload information
                    </div>
                    <div class="panel-body pan"><p/>

                        <div id="div_id_org_name" class="form-group">
                            <label for="id_org_name" class="control-label col-md-3">Title</label>

                            <div class="col-md-6">
                                <p class="form-control-static"><strong>{{ document.document_title }}</strong></p>
                            </div>
                        </div>
                        <div id="div_id_org_name" class="form-group">
                            <label for="id_org_name" class="control-label col-md-3">Keywords</label>

                            <div class="col-md-6">
                                <p class="form-control-static"><strong>{{ document.document_keywords }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="document_id" value="{{ document.document_id }}">
            <button class="btn btn-success" type="submit" name="Yes" value="Yes">Yes</button>
            <span>
                <a type="button" href="/library" class="btn btn-success">
                    <i class="fa fa-arrow-circle-o-left"></i>Back
                </a>
            </span>
        </form>
    </div>

{% endblock content %}