{% for document in documents_list %}
    <tr class="table_row_clickable" href="/library/view?document_id={{ document.document_id }}"
        style="cursor:pointer">
        <td>{{ document.document_title|truncatechars:40 }}</td>
        <td>{{ document.document_types|truncatechars:40 }}</td>
        <td>{{ document.document_keywords|truncatechars:40 }}</td>
        <td>{{ document.document_service_area|truncatechars:40 }}</td>
        <td>{{ document.document_geo_links|truncatechars:40 }}</td>
        <td>
             <span>
                <a href="/library/view?document_id={{ document.document_id }}" class="btn btn-primary btn-xs">
                    <i class="fa fa-file-text-o"></i>&nbsp;Document info
                </a>
            </span>
	        <span>
                <a href="{{ document.document_file.url }}" class="btn btn-success btn-xs">
                    <i class="fa fa-download"></i>&nbsp;Download
                </a>
	        </span>
             <span>
                  {% if 'auth.add doc library' in perms and not is_capture_app %}
                      <a href="/library/delete?document_id={{ document.document_id }}" class="btn btn-danger btn-xs">
                          <i class="fa fa-trash-o"></i>&nbsp;Remove
                      </a>
                  {% endif %}
	        </span>
        </td>
    </tr>
{% endfor %}